[Unit]
Description=LLM Semantic Router API
After=network-online.target

[Service]
Type=simple
User=root

WorkingDirectory=/opt/llm-server/apps/router

ExecStart=/usr/bin/python3 -m uvicorn app:app \
--host 0.0.0.0 \
--port 5000

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
